i {
    background-color: #fff;
    padding: 10px 13px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 1.5rem;
  }
  
  .software {
    font-size: 1.5rem;
    font-weight: bolder;
  }
  
  .omoo {
    margin-left: 20rem;
    font-size: 1.1rem;
    font-weight: bolder;
  }

  .omo { 
    margin-inline: 1rem;
    font-weight: light;
  }


  .omo:hover {
    background-color: white;
  }
  
  .navbar-section {
    background-color: #EFEFEF;
    
  }

  .navbar_nav {
    margin-left: 3rem;
  }
  
  .image-section {
    background-image: url(mbr.jpg);
    height: 670px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

  }
  
  .mobile-app {
    margin: 10% 0 0 9%;
  }
  
  .mymy {
    font-size: 3.6rem;
    letter-spacing: 2px;
    font-weight: 700;
  }
  
  .mumu {
    background-color: #fff;
     width: 65%;
     border-radius: 20px;
  }

  .code-image {
    height: 550px;
    margin-left: 5rem;
    position: absolute;
    z-index: 1;
    border-radius: 10px;
    margin-top: 22px;
    /* padding-top: 10px; */
  }
  
  .code-div {
    width:30%;
  }
  
  .next-div {
    margin-left: 15rem;
  }
  
  .lorem-paragraph {
    width: 70%;
    font-size: 18px;
  }
  
  .another {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  
  /*button */

  .btn-lg {
    background-color: #F7D9C4;
  }

  .btn-xg {
    background-color: #dce8eb;
  }

  .btn-lg:hover {
    background-color: #fff;
    border: none;
  }

  .btn-xg:hover {
    background-color: #1b2026;
    color: #fff;
    border: none;
  }

  @keyframes wiggle {
    0%, 7% {
        transform: rotateZ(0);
    }
  
    15% {
        transform: rotateZ(-15deg);
    }
  
    20% {
        transform: rotateZ(10deg);
    }
  
    25% {
        transform: rotateZ(-10deg);
    }
  
    30% {
        transform: rotateZ(6deg);
    }
  
    35% {
        transform: rotateZ(-4deg);
    }
  
    40% {
        transform: rotateZ(0);
    }
  }
  
  .btn-lg {
    animation: wiggle 2s linear infinite;
  }

  @keyframes float {
    0% {
        box-shadow:0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translateY(0px);
    }

    50% {
        box-shadow:0 25px 15px 0px rgba(0,0,0,0.2);
        transform: translateY(-20px);
    }

    0% {
        box-shadow:0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translateY(0px);
    }
}

.btn-xg {
    overflow: hidden;
    transform: translateY(0px);
    animation: float 6s ease-in-out infinite;
}

  @media (max-width: 992px) {
     .code-image {
       position: static;
       margin-left: 0.3rem;
       height: 500px;
       width: 110%;
       border-radius: 10px;
       margin-top: 2px;
   }
  
   .code-div {
     width: 90%;
     display: block;
   }
  
   .mumu {
     width: 100%;
     text-align: center;
     margin-top: 25px;
     border-radius: 12px;
   }
  
   .next-div {
     margin-left: 1rem;
   }
  
   .image-section {
     text-align: center;
   }
  
   .omoo {
     margin-left: 0;
   }
  
   .lorem-paragraph {
     width: 100%;
   }
  }